@font-face {
	font-family: "Rajdhani";
	src: url('../fonts/Rajdhani/Rajdhani-Regular.ttf');
}

#aboutus p {
	font-family: 'Rajdhani';
}

#presentation {
	margin-top: 5%;
	color: #bdc3c7;
	text-align: center;
}

#project {
	color: #bdc3c7;
	text-align: center;
}